@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}
/* CSS */
/* Select the scrollbar */
::-webkit-scrollbar {
  width: 14px; /* Set the width of the scrollbar */
  height: 14px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the scrollbar handle */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the scrollbar track */
}

/* Hover effect on the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change color on hover */
}

.placeholder-style::placeholder {
  color: #555; /* Set the color of the placeholder text */
  font-style: italic; /* Make the placeholder text italic */
}

.loading-spinner {
  display: inline-block;
  animation: rotate360 infinite 2s linear;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected-row {
  background-color: #ffeeba;
}
.updated-row {
  background-color: #b1f0be;
}

.highlight-row {
  background-color: #b1f0be; /* Yellow highlight */
}

::placeholder {
  font-style: italic;
  font-size: 0.9em;
}

/* dump */
/* styles.css */
.processing {
  background-color: #fffd8f;
}

.failed {
  background-color: #f77b52;
}

.completed {
  background-color: #b0faa2;
}

/* analytics total efforts */
.row-high-value {
  background-color: lightgreen; /* Example: Green background for high values */
}

.row-low-value {
  background-color: lightgrey; /* Example: Light background for low values */
}

.qc3-N {
  /* No Match */
  background-color: rgb(211, 211, 211); /* Light Gray */
}

.qc3-Y {
  /* Exact Match */
  background-color: rgb(144, 238, 144); /* Light Green */
}

.qc3-Z {
  /* Accepted Match */
  background-color: rgb(173, 216, 230);
}

.qc3-P {
  /* High Match */
  background-color: #ffeb84;
}

.qc3-Q {
  /* Medium Match */
  background-color: #ffc287;
}

.qc3-R {
  /* Low Match */
  background-color: #ffc287;
}

.qc3-E {
  /* Extra */
  background-color: #e0e0e0;
}
